/* Typography */
body {
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 22px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
}

.navbar {
    background-color: #0d6efd;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #0d6efd;
}

.button {
    color: #0d6efd;
}

.button:hover {
    background-color: white;
    color: #0d57c7;
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
}

img {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}

.nav-pills .nav-link.active {
    background-color: #0d57c7;
}

.nav-link:focus {
    outline: 2px solid #0d57c7;
    outline-offset: 2px;
}

.form-control {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
}
